/*--------------------------------------------------------------
  1. Patrones de colores
  -------------------------------------------------------------*/
$primary: #0073aa;
$secondary: #23282d;
$texto: rgb(50,55,60);

/*--------------------------------------------------------------
  2. Modificando variables de Bootstrap
  -------------------------------------------------------------*/

/* Modificando el mapa de colores de Bootstrap */
$theme-colors:(
    "primary": $primary,
    "secondary": $secondary
);

/*--------------------------------------------------------------
  1. Importando Bootstrap
  -------------------------------------------------------------*/
@import"../libs/bootstrap-4.4.1/scss/bootstrap"