.row>* {
  // border: 1px solid red;
}

/*--------------------------------------------------------------
  1. Patrones de colores
  -------------------------------------------------------------*/
//Color de Fondo
$primary: #0073aa;
$secondary: #23282d;

//Texto varios
$texto: #32373c;
$campoBuscar: #ababab;
$textoMenu: #e2e2e2;
$flechaMenu: #ffffff;

/*--------------------------------------------------------------
  2. Modificando variables de Bootstrap
  -------------------------------------------------------------*/

/* Modificando el mapa de colores de Bootstrap */
$theme-colors:("primary": $primary,
  "secondary": $secondary);

/*Personalizando la apariencia de Bootstrap*/
$enable-shadows : true;
$enable-gradients : true;
$body-color : $texto;
//Enlases
$link-color : $primary;
$link-decoration : none;
$link-hover-color : $primary;
$link-hover-decoration : underline;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;
// Bordes
$border-radius : .25rem;
$border-radius-lg : .3rem;
$border-radius-sm : .2rem;
//Fuentes
$font-family-base : 'Open Sans',
sans-serif;
;

/*Modificando las clases de espaciados en Bootstrap*/
$spacer: 1rem;
$spacers: (6: ($spacer * 3.5),
  7: ($spacer * 4),
  8: ($spacer * 4.5),
  9: ($spacer * 5),
  10: ($spacer * 6),
);

/*--------------------------------------------------------------
  3. Importando Bootstrap
  -------------------------------------------------------------*/
@import"../libs/bootstrap-4.4.1/scss/bootstrap";

/*--------------------------------------------------------------
  4. Estilos para el encabezado y menú Rd-navbar
  -------------------------------------------------------------*/
.bloque-buscar {
  .form-control {
    border: 0;
    border-radius: 2px;
    background: darken($secondary, 10%);
    color: $campoBuscar;
    font-size: .8rem;
    border-bottom: 1px solid lighten($secondary, 15%)
  }

  .btnBuscar {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: 0;
    color: $campoBuscar;
    padding: .3rem .5rem;
  }
}

/*4.1 Estilos Rd-navbar (Vista Movil)*/
.rd-navbar-fixed {
  .rd-panel-encabezado {
    position: fixed;
    width: 100%;
    z-index: 16;
  }

  /*Elimina el borde azul que aparece al seleccionar el boton*/
  .rd-navbar-toggle:focus {
    outline: none;
  }
}

.rd-navbar-fixed .rd-navbar-toggle {
  position: absolute;
  z-index: 17;
  top: 4.5rem;
  left: .6rem;
  background: transparent;
  border: 0;
  transform: scale(1.4);
  padding: 0;
}

.rd-navbar-fixed .rd-navbar-toggle span:after,
.rd-navbar-fixed .rd-navbar-toggle span:before,
.rd-navbar-fixed .rd-navbar-toggle span {
  background-color: $campoBuscar;
}

.rd-navbar-fixed .rd-navbar-nav-wrap {
  background: $secondary;
  top: 2rem;
}

.rd-navbar-fixed .rd-navbar-nav li>a {
  display: block;
  padding: 1rem 1rem 1rem 2rem;
  color: #e1e1e1;
}

.rd-navbar-fixed .rd-navbar-nav li.opened>a,
.rd-navbar-fixed .rd-navbar-nav li a:hover {
  background: transparent;
  text-decoration: none;
  color: $primary;
}

/*Quita el fondo rojo del menú movil*/
.rd-navbar-fixed .rd-navbar-nav li.active>a {
  background: transparent;
  color: $primary;
}

/*Parametros para mostrar la flecha derecha para abrir submenu*/
.rd-navbar-fixed .rd-navbar-submenu-toggle:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f078';
  font-size: .8rem;
  transition: transform .3s ease;
}

.rd-navbar-fixed .rd-navbar-submenu-toggle:hover {
  color: $flechaMenu;
}

.rd-navbar-fixed .opened .rd-navbar-submenu-toggle:before{
  color: $primary;
  transform: rotate(180deg) translateY(50%);

}

/*Crea un margen izquierdo al submenu*/
.rd-navbar-fixed .rd-navbar-submenu li>a {
  padding-left: 2.8rem;
  padding-top: .7rem;
  padding-bottom: .7rem;
}


/*4.2 Estilos Rd-navbar (Vista Escritorio)*/
.rd-navbar-static .rd-navbar-outer {
  background: $secondary;
}

/*Formato de menu arriba de los 768px*/
.rd-navbar-static .rd-navbar-nav>li>a {
  text-transform: none;
  text-decoration: capitalize;
  font-size: .85rem;
  font-weight: normal;
  color: $textoMenu;
  padding: .8rem .4rem;
  line-height: 1.5rem;
  &:hover{
    color: $primary;
    text-decoration: none;
  }
}

.rd-navbar-static .rd-navbar-nav>li>.rd-navbar-dropdown {
  width: auto;
  padding: 0;
  left: 0;
  margin-top: 0;
  margin-left: -5px;
  transform: translateY(0px);
  background: lighten($secondary, 7%);
}

.rd-navbar-static .rd-navbar-nav>li>.rd-navbar-dropdown:before{
  content: "";
  width: .8rem;
  height: .8rem;
  position: absolute;
  background: lighten($secondary, 7%);
  left: 25%;
  transform: rotate(45deg) translateY(-8px);
}

.rd-navbar-static .rd-navbar-dropdown li>a,
.rd-navbar-static .rd-navbar-megamenu li>a {
  color: $textoMenu;
  white-space: nowrap;
  &:hover {
    color: $primary;
    text-decoration: none;
    background: transparent;
  }
}

/*--------------------------------------------------------------
  5. Estilos para seccion .descargaWordpress
  -------------------------------------------------------------*/
.descargaWordpress {
  padding: 9rem 0 1.5rem 0;
}