/*--------------------------------------------------------------
  1. Patrones de colores
  -------------------------------------------------------------*/
$primary: #0073aa;
$secondary: #23282d;
$texto: #32373c;

/*--------------------------------------------------------------
  2. Modificando variables de Bootstrap
  -------------------------------------------------------------*/

/* Modificando el mapa de colores de Bootstrap */
$theme-colors:(
    "primary": $primary,
    "secondary": $secondary
);

/*Personalizando la apariencia de Bootstrap*/
$enable-shadows: true;
$enable-gradients: true;
$body-color: $texto;
//Enlases
$link-color           : $primary;
$link-decoration      : none;
$link-hover-color     : $primary;
$link-hover-decoration: underline;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;

/*Modificando las clases de espaciados en Bootstrap*/
$spacer: 1rem;
$spacers: (
    6: ($spacer * 3.5),
    7: ($spacer * 4),
    8: ($spacer * 4.5),
    9: ($spacer * 5),
    10: ($spacer * 6),
);

/*--------------------------------------------------------------
  1. Importando Bootstrap
  -------------------------------------------------------------*/
@import"../libs/bootstrap-4.4.1/scss/bootstrap"